/* styled.css */

#blocoCadastro {
    background-color: #295E9D;
    max-width: 40%;
    margin: 10% auto; /* Adicione margens superior e inferior */
    padding: 2%;
    border-radius: 5%;
    display: flex;
    flex-direction: row; /* Altere para flex-direction: row */
    justify-content: space-between; /* Adicione para espaçar os botões */
    align-items: center;
}

#btnCadastro,
#btnEntrar {
    background-color: #69b75a;
    color: #fff;
    display: flex;
}

#btnCadastro:hover,
#btnEntrar:hover {
    background-color: #4f8e41;
}
